/* font-family: "Poppins", system-ui */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 65.5%;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Poppins", system-ui;
}

/* navbar section  */
.section-one{
  background: rgb(122,136,255);
background: linear-gradient(90deg, rgba(122,136,255,1) 35%, rgba(135,232,255,1) 100%);
}
.section-one header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  border: 1px solid red;
  width: 25px;
  height: 15px;
}
.navbar ul{
  display: flex;
  gap: 3.2rem;
}
.navbar ul li a{
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  font-family: "Poppins", system-ui;
 

  &:hover{
      color:#0794f3;
      text-decoration: underline;
  }
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}

* hero section start */
  
  .section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f3ec;
    background-image: linear-gradient(79deg, #eec190 0%, #F1DAC1 100%);    
    /* padding: 5.6rem; */
    position: relative;
    /* border: 1px solid green; */
  
  }
  
  .hero-grid{
    display: grid;
    gap: 2.6rem;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    padding: 4rem;
    /* border: 1px solid red; */
  }
  .heading{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 3.3rem;
    font-size: 2rem;
    word-spacing: 0.1rem;
    color: var(--heading-color);
    font-weight: 700;
    margin: 1.5rem 0 2.2rem 0;
  }
  .big--heading{
    font-family: "Josefin Sans", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    color: var(--heading-color);
  }
  .para--hero{
    letter-spacing: 0.2rem;
    word-spacing: 0.1rem;
    line-height:2.1rem;
    color: var(--supporting-color);
    margin: 2rem 0 4rem 0;
  }
  .right-hero img{
    width: 100%;
    height: auto;
  }
  
  /* hero wave  */
  .custom-shape-divider-bottom-1711799045 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1711799045 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 9rem;
  }
  
  .custom-shape-divider-bottom-1711799045 .shape-fill {
    fill: #FFFFFF;
  }
  /* hero wave end here  */
  
  /* hero section End */